.be-Content {
    display: grid;
    /* background: rgb(237, 230, 219); */
    grid-template-areas:
        'header header'
        'sidebar main'
        'footer footer';
    grid-template-columns: 3% auto;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));*/
    grid-template-rows: 80px 87vh auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.be-header {
    grid-area: header;
}

.be-side {
    grid-area: sidebar;
    display: grid;
    padding-left: 4%;
    padding-right: 4%;
    border-left: 2px groove white;
    border-right: 2px groove white;
    box-shadow: 0px 10px 20px rgb(26, 60, 64);
    /*background-color: rgb(17, 43, 60);*/
    color: white;
    font-size: calc(0.8em + 0.2vw);
    background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgb(17, 43, 60) 50%);
}

.be-main {
    grid-area: main;
}

.be-footer {
    grid-area: footer;
}