.be-grid-client-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    height: 98%;
    align-items: center;
    justify-content: center;
    padding: 1%;
    overflow: auto;
}

.be-grid-client-titles{
    display: grid;
    grid-template-columns: 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% ;
}

.be-grid-client-data{
    display: grid;
    grid-template-columns: 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% ;
}

table {
    width: 90%;
    margin:1rem auto;
 }