.dashboard-content-four {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 14% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 100%;
    padding: 2%;
}

label {
    font-size: 1.5vw;
}

.items {
    border: 1px solid #dfdfdf;
    display: grid;
    grid-template-columns: 15% 25% 26% 25% 9%;
}


.items:hover {
    background: rgb(223, 246, 255);
    box-shadow: 0px 10px 20px rgb(26 60 64);
    cursor: pointer;
}

.title {
    display: grid;
    grid-template-columns: 80% 20%;
}

.add-task {
    font-size: 0.6vw;
}