<div class="dashboard-content-four">

    <div class="title">
        <div> <label>
                Reporte de tareas pendientes
            </label>
        </div>
        <div>
            <i class="bi bi-plus-square" title="Agregar tarea"></i>
        </div>
    </div>

    <div class="items">
        <div><b>Tipo</b></div>
        <div><b>implicado</b></div>
        <div><b>Contacto</b></div>
        <div><b>Documento</b></div>
        <div><b>Acciones</b></div>
    </div>

    <div class="items">
        <div>Correo</div>
        <div>Maria Gamboa</div>
        <div>MariaGamboa@gmail.com</div>
        <div>Factura</div>
        <div><i class="bi bi-bookmark-check-fill" title="Actividad gestionada"></i>
            <i class="bi bi-bookmark-x-fill" title="Eliminar actividad"></i>
        </div>
    </div>

    <div class="items">
        <div>Telefonico</div>
        <div>Soluciones limitadas SA</div>
        <div>6017845696</div>
        <div>Pedido</div>
        <div><i class="bi bi-bookmark-check-fill" title="Actividad gestionada"></i>
            <i class="bi bi-bookmark-x-fill" title="Eliminar actividad"></i>
        </div>
    </div>

    <div class="items">
        <div>Telefonico</div>
        <div>Carlos rodriguez</div>
        <div>3125896378</div>
        <div>Cotizacion</div>
        <div><i class="bi bi-bookmark-check-fill" title="Actividad gestionada"></i>
            <i class="bi bi-bookmark-x-fill" title="Eliminar actividad"></i>
        </div>
    </div>

    <div class="items">

    </div>

    <div class="items">

    </div>

    <div class="items">

    </div>

    <div class="items">

    </div>


</div>